<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="base_url" value="https://api.hubapi.com/" />
    
    <add key="access_token_param_name" value="hapikey" />
    <add key="access_token_value" value="f5dadec3-a4d9-4e09-9dcb-687af6d39ea6" />

    <add key="getContacts_url" value="/contacts/v1/lists/recently_updated/contacts/recent/" />
    <add key="getCompanyById_url" value="/companies/v2/companies/{companyId}/" />
    <add key="validateToken_url" value="/integrations/v1/limit/daily/" />
    
    <add key="required_params" value="hapikey"/>
    
    <add key="getContacts_params" value="count,timeOffset,property" />
    <add key="getCompanyById_params" value="companyId" />

    <add key="export_excel_directory" value="D:\Export Directory\"/>
    <add key="export_excel_file_format" value="xlsx"/>
    <add key="export_excel_sheet_name" value="Contacts"/>
  </appSettings>
</configuration>